<h1>Welcome to the Thunderdome!</h1>
<p>Two players enter; only one can survive.</p>
<p>I wish I could explain the rules, but I'm afraid the rules don't make sense for this kind of format so just muddle along the best you can!</p>
